# Dependency directories
node_modules/
npm-debug.log*
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# Production build
dist/
build/

# IDE / Editor directories
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
.vs/

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Exclude entire portable environment directory
portable-env/
*.rdb

# Docker volumes
docker-volumes/

# Local development backup files
*.bak
